.contato {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  /*   box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1); */
  border-bottom: 1px solid var(--fontColor);

  margin-top: 2rem;
  margin-bottom: 1rem;
}

.contato_info p {
  font-size: 25px;
}

.contato_info h1 {
  font-size: 30px;
}

.contato_form {
  margin: 0 auto;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  padding: 2rem;
  align-items: center;
  border-bottom: 1px solid var(--fontColor);

  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

.contato_form-inputs {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  padding: 1rem;
}

.contato_form-inputs input {
  border-radius: 10px;
  height: 40px;
  width: 100%;
  padding: 0.5rem;
  border: none;
  box-shadow: 0 0 10px 2px rgba(22, 7, 7, 0.1);
  border-bottom: 1px solid var(--fontColor);
  transition: 0.3s;
}

.contato_form-inputs input:focus {
  outline: none;
  border: 1px solid lightcoral;
}

.contato_form-inputs input:hover {
  border: 1px solid lightcoral;
}

.contato_form-inputs input::placeholder {
  color: var(--fontColor);
  font-size: 15px;
  padding-left: 2px;
}

#text-area {
  border-radius: 10px;
  border: none;
  height: 200px;
  width: 100%;
  align-items: center;
  padding: 0.5rem;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid var(--fontColor);
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn input {
  cursor: pointer;
  border: none;
  border-radius: 10px;
  height: 30px;
  width: 100px;
  background-color: lightcoral;
  color: white;
  font-weight: bold;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid var(--fontColor);
  transition: 0.3s;
}

.btn input:hover {
  background-color: red;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

footer a {
  text-decoration: none;
}

/* media queries */

@media screen and (max-width: 768px) {
  .contato {
    flex-direction: column;
    gap: 2rem;
  }

  .contato_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .contato_form {
    width: 100%;
  }

  .contato_form-inputs input {
    width: 100%;
  }

  #text-area {
    width: 100%;
  }

  .btn input {
    width: 100%;
  }

  .contato .redes_sociais {
    display: flex;
    flex-direction: column;
  }

  .icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem;
  }

  footer {
    flex-direction: column;
    gap: 1rem;
  }
}
